<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin panel Decorus Collections</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BootstrapConnect -->
    <%- include('../../partials/head/bootstrap'); %>
        <link rel="stylesheet" href="<%= base_url %>/styles/css/admin-panel.css" />
</head>

<body>
    <!-- AdminPanelAside -->
    <%- include('../../partials/admin-sidebar/sidebar'); %>

        <main class="admin-panel_content">
            <div class="d-flex align-items-center justify-content-between px-5">
                <h1>Collections</h1>
                <button id="addCollBtn" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#AddColl">
                    Add new collection
                </button>
            </div>

            <section class="px-5">
                <% if (collections) { %>
                    <table class="table table-dark table-striped table-hover align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Image</th>
                                <th class="text-center" style="width: 83px;">Update</th>
                                <th class="text-center" style="width: 83px;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% collections.forEach(({ _id, title, image }, index)=> { %>
                                <tr>
                                    <th align="center" scope="row">
                                        <%= index + 1 %>
                                    </th>
                                    <td>
                                        <%= title %>
                                    </td>
                                    <td>
                                        <img class="rounded-circle" width="80" height="80" src="<%= image.filename %>"
                                            alt="<%= title %>">
                                    </td>
                                    <td class="text-center">
                                        <button id="updateBtn" title="Update collection <%= title %>"
                                            coll-data-req="<%= _id %>" type="button"
                                            class="btn btn-light rounded-circle" data-bs-toggle="modal"
                                            data-bs-target="#AddColl">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="text-center"><button id="removeBtn"
                                            title="Update collection <%= title %>" coll-data-req="<%= _id %>"
                                            type="button" class="btn btn-light rounded-circle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <h5>No Coll</h5>
                        <% } %>
            </section>
        </main>

        <%- include("../../partials/Modal-Add-Item/modal", { modalName: "AddColl" , inputs: [{ label: "Title" ,
            type: "text" , id: "title" , name: "title" , className: "form-control" , validMessage: "Must be a title" }]
            }) %>

            <script src="<%= base_url %>/scripts/js/collections.js"></script>
            <script type="module" src="<%= base_url %>/scripts/js/admin.js"></script>
            <script type="module" src="<%= base_url %>/scripts/js/user-service._module.js"></script>
</body>

</html>