<nav class="navbar navbar-expand-lg bg-secondary fixed-top">
  <div class="container d-flex align-items-center">
    <a class="navbar-brand fs-3 text-white fw-bolder" href="/">Decorus</a>

    <div class="d-flex d-lg-none">
      <%- include('../local-picker/picker'); %>

        <button class="btn text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="list-group list-group-horizontal" style="list-style: none;">
        <% routes.forEach(({ pathname, label })=> { %>
          <li class="header-nav_link">
            <a class="list-group-item list-group-item-action
             text-dark <%= pathname === pageId ? " active text-white" : "router-no-active-link" %>"
              aria-current="page" href="<%= pathname %>">
                <%= label %>
            </a>
          </li>
          <% }) %>
      </ul>
    </div>

    <div class="d-none d-lg-block d-xl-block d-xxl-block">
      <%- include('../local-picker/picker'); %>
    </div>

  </div>
</nav>